ul#nav {
    display:block;
    float:left;
    width: 100%;
    font-family:Trebuchet MS,sans-serif, MyriadPro, Helvetica Neue ;
    height:30px;
	z-index : 1;
	
	padding-left: 5px;
	padding-right: 0px;
	
    background: -moz-linear-gradient(#f5f5f5, #c4c4c4); /* FF 3.6+ */  
    background: -ms-linear-gradient(#f5f5f5, #c4c4c4); /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #c4c4c4)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#f5f5f5, #c4c4c4); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#f5f5f5, #c4c4c4); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c4c4c4'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c4c4c4')"; /* IE8+ */  
    background: linear-gradient(#f5f5f5, #c4c4c4); /* the standard */ 
}
ul#nav ul {
    list-style:none;
    margin-top:0;
}
ul#nav,ul#nav .subs {
    background-color:#444;
    /* border:1px solid #f5f5f5; */

}
ul#nav .subs {
    background-color:#f5f5f5;
    border:1px solid #d5cea6;
    display:none;
    float:left;
    left:0;
    position:absolute;
    top:100%;
    /* width:auto; */
	z-index : 5;
	
    width: 220px;
}
ul#nav li:hover>* {
    display:block;
}
ul#nav li:hover {
    position:relative;
    height: 30px;
}
ul#nav ul .subs {
    left:100%;
    position:absolute;
    top:0;
}
ul#nav ul {
    padding:0px 0px;
}
ul#nav .col {
    float:left;
    width:50%;
}
ul#nav li {
    display:block;
    float:left;
    font-size:0;
    /* white-space:nowrap; */
}
ul#nav>li,ul#nav li {
	/*  margin:0 auto; */
     margin:0 0 0 2px; 
}
ul#nav ul>li {
    margin:0px 0 0;
}
ul#nav a:active,ul#nav a:focus {
    outline-style:none;
}
ul#nav a {
    border-style:none;
    border-width:0;
    color:#181818;
    cursor:pointer;
    display:block;
    font-size:12px;
    font-weight:bold;
    padding:2px 10px;
    text-align:left;
    text-decoration:none;
    text-shadow:#fff 0 1px 1px;
    vertical-align:middle;
}
ul#nav ul li {
    float:none;
    margin:3px 0 0;
}
ul#nav ul a {
    background-color:#fff;
    border-color:#c4c4c4;
    border-style:solid;
    border-width:0 0 0px;
    color:#000;
    font-size:11px;
    padding:4px;
    text-align:left;
    text-decoration:none;
    text-shadow:#fff 0 0 0;

}
ul#nav li:hover>a {
    border-style:none;
    color:#fff;
    font-size:11px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:#181818 0 1px 1px;
}
ul#nav img {
    border:none;
    margin-right:8px;
    vertical-align:middle;
}
ul#nav span {
    background-position:right center;
    background-repeat:no-repeat;
    display:block;
    overflow:visible;
    padding-right:0;
}
ul#nav ul span {
    /* background-image:url("../images/arrow.png"); */
    padding-right:20px;
}
ul#nav ul li:hover>a {
    border-color:#c4c4c4;
    border-style:solid;
    color:#444;
    font-size:11px;
    text-decoration:none;
    text-shadow:#fff 0 0 0;
}
ul#nav > li >a {
    background-color:transpa;
    height:20px;
    line-height:20px;

  
}
ul#nav > li:hover > a {
    background-color:#c4c4c4;
    line-height:20px;
}

ul#nav> li > ul > li:hover > a {
	
	background-color:#8E9194;
	color:#ffffff;
	 
}

ul#nav > li:hover > a{
background-color:#8E9194;
color:#ffffff;
line-height:20px;
/* width:auto; */
margin-left:0px !important;
margin-right:0px !important;
font-size:12px;
}

ul#nav > li > ul > li{
	background-color:#ffffff;
	line-height:20px;
}

 